.homePage {
  overflow: hidden;
  background: lightblue;
  background-image: url(../../assets/png/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}
